In [21]:
# Import libraries
import pandas as pd
import requests
import psycopg2
import sqlalchemy
from bs4 import BeautifulSoup
import numpy as np

In [15]:


con='postgres://lenovo:1@localhost:5432/coderschool'

In [22]:
def import_data_from_psql():
    """Import data from psql; clean & merge dataframes."""
    library = pd.read_sql_table(
        'products2',
        con=con,
        columns=['product_number', 'product_id', 'title', 'price', 'img_url', 'category_name', 'category_id'])
    return library

In [24]:
data = import_data_from_psql()

In [27]:
print(data)

        product_number  product_id  \
0                    1     4805279
1                    2     4433517
2                    3     5477791
3                    4    26651177
4                    5     9820705
...                ...         ...
105875          105872    12716211
105876          105873    23814124
105877          105874    23813996
105878          105875    23944391
105879          105880     5952825

                                                    title    price  \
0           Tất, vớ cổ ngắn chống hôi chân (Combo 10 đôi)    65886
1                 Bộ 5 Đôi Tất Nam Cổ Ngắn Chống Hôi Chân    32870
2       Hộp 10 Đôi Tất Cổ Cao Chống Hôi Chân Xuất Nhật...    68230
3       Combo 5 Đôi Tất Vớ Nam Cổ Trung Cao Cấp Nhật B...    62000
4       Sét 5 đôi tất nam đen ngắn cổ thoáng khí hút m...    77715
...                                                   ...      ...
105875  Combo móc dán tường chịu được lực treo 15kg + ...  1029000
105876                           Móc 5 Vuông Hofaco HPG97    14000
105877                         Móc Hình Nhà Hofaco HPG115    15000
105878                             Móc 3 Sọc Hofaco HPG25    13000
105879  Móc Treo Khăn Hút Chân Không (Hình Bán Nguyệt)...    77000

                                                  img_url  \
0       https://salt.tikicdn.com/cache/200x296/ts/prod...
1       https://salt.tikicdn.com/cache/200x296/ts/prod...
2       https://salt.tikicdn.com/cache/200x296/ts/prod...
3       https://salt.tikicdn.com/cache/200x296/ts/prod...
4       https://salt.tikicdn.com/cache/200x296/ts/prod...
...                                                   ...
105875  https://salt.tikicdn.com/cache/200x200/ts/prod...
105876  https://salt.tikicdn.com/cache/200x200/ts/prod...
105877  https://salt.tikicdn.com/cache/200x200/ts/prod...
105878  https://salt.tikicdn.com/cache/200x200/ts/prod...
105879  https://salt.tikicdn.com/cache/200x200/ts/prod...

                                            category_name  category_id
0       Thời Trang/Thời trang nam/Phụ kiện thời trang ...         2209
1       Thời Trang/Thời trang nam/Phụ kiện thời trang ...         2209
2       Thời Trang/Thời trang nam/Phụ kiện thời trang ...         2209
3       Thời Trang/Thời trang nam/Phụ kiện thời trang ...         2209
4       Thời Trang/Thời trang nam/Phụ kiện thời trang ...         2209
...                                                   ...          ...
105875  Nhà Cửa - Đời Sống/Trang trí nhà cửa/Móc treo,...          438
105876  Nhà Cửa - Đời Sống/Trang trí nhà cửa/Móc treo,...          438
105877  Nhà Cửa - Đời Sống/Trang trí nhà cửa/Móc treo,...          438
105878  Nhà Cửa - Đời Sống/Trang trí nhà cửa/Móc treo,...          438
105879  Nhà Cửa - Đời Sống/Trang trí nhà cửa/Móc treo,...          438

[105880 rows x 7 columns]

In [25]:
df = pd.DataFrame(np.array(data))

In [30]:
df.iloc[0][co]

https://salt.tikicdn.com/cache/200x296/ts/product/60/f2/26/3e6a5d356581dca79e38a46f43d7d8f9.jpg

In [36]:
class Products:
    def __init__(self, product_number, product_id, title, price, img_url, category_name, category_id):
        self.product_number = product_number
        self.product_id = product_id
        self.title = title
        self.price = price
        self.img_url = img_url
        self.category_name = category_name
        self.category_id = category_id
        
    def select_data_from_db(row):
        product_number = df.iloc[row][0]
        product_id = df.iloc[row][1]
        title = df.iloc[row][2]
        price = df.iloc[row][3]
        img_url = df.iloc[row][4]
        category_name = df.iloc[row][5]
        category_id = df.iloc[row][6]

In [40]:
product = Products
for i in range(100):
    product.select_data_from_db(i)
    print(product.product_number)

TypeError: select_data_from_db() takes 1 positional argument but 2 were given

In [41]:
product = Products(1,1,1,1,1,1,1)

In [43]:
print(product.title)

1